bin
.metadata
*.pyc
*.bak
.project
.pydevproject

# pip install #
#####################
*.egg-info/
*.egg/
*.eggs
dist
*.pypirc
build

# PyCharm #
#####################
.idea
.cache
venv

# Unittest #
#####################
.pytest_cache
htmlcov
.coverage
